extends ./_layout

block title
  | Dropdown - Rainbow

block content
  h1| Dropdown 下拉菜单

  div(class="anchor")
    h2(id="概述")

  r-card
    r-tabs(v-model="common.tab")
      r-tab-pane(name="1", label="示例")
        div.margin-top-10
          r-dropdown(
            label="下拉菜单"
          )
            r-dropdown-item(
              href="http://baidu.com",
              target="_blank"
            )| 百度
            r-dropdown-item(
              @click.native="hello"
            )| 360
            r-dropdown-item(
              href="https://www.sogou.com/"
            )| 搜狗
      
      r-tab-pane(name="2", label="代码")
        pre
          code(class="html")
          textarea(v-pre).
            <div class="margin-top-10">
              <r-dropdown label="下拉菜单">
                <r-dropdown-item href="http://baidu.com" target="_blank">百度</r-dropdown-item>
                <r-dropdown-item @click.native="hello">360</r-dropdown-item>
                <r-dropdown-item href="https://www.sogou.com/">搜狗</r-dropdown-item>
              </r-dropdown>
            </div>
          
            <script>
            export default {
              methods: {
                hello () {
                  alert(this.total)
                }
              }
            }
            </script>
          
  .anchor
    h2| Api
  
  .anchor
    h3| Dropdown props
  
  div(class="r-table r-table-border api")
    table
      thead
        tr
          th
            div| 属性
          th
            div| 说明
          th
            div| 类型
          th
            div| 默认值
      tbody
        //- 
        tr
          td
            div| label
          td
            div| 标题
          td
            div| String
          td
            div| -

  
  .anchor
    h3| DropdownItem props
  
  div(class="r-table r-table-border api")
    table
      thead
        tr
          th
            div| 属性
          th
            div| 说明
          th
            div| 类型
          th
            div| 默认值
      tbody
        //- 
        tr
          td
            div| href
          td
            div| 点击时候跳转的链接
          td
            div| String
          td
            div| -
        
        //- 
        tr
          td
            div| target
          td
            div| 链接跳转的方式，比如 _blank
          td
            div| String
          td
            div| -

block script
  script.
    new Vue({
      el: '#app',
      watch: {
        'common.componentValue' () {
          location.href = this.common.componentValue + '.html'
        }
      },
      data () {
        return {
          common: {
            componentValue: '',
            activeMenu: '5-3',
            tab: '',
            tab2: ''
          },
          tabsValue: '',
          input: ''
        }
      },
      methods: {
        hello () {
          alert(this.total)
        }
      }
    })