extends ./_layout

block title
  | 快速上手 - Rainbow

block content
  h1| 安装

  div(class="anchor")
    h2| 模块化

    pre
      code
      textarea.
        npm isntall --save rainbow-nash
        
        import Vue from 'vue'
        import Rainbow from 'rainbow-nash'
        import 'rainbow-nash/dist/rainbow-nash.css'

        Vue.use(Rainbow)

  div(class="anchor")
    h2| 直接引入

    pre
      code
      textarea.
        <!-- 引入Vue -->
        <script src="//vuejs.org/js/vue.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="//unpkg.com/rainbow-nash/dist/rainbow-nash.css">
        <!-- 引入脚本 -->
        <script src="//unpkg.com/rainbow-nash/dist/rainbow-nash.umd.min.js"></script>
    
    div(class="code-font")
      h2 点击下载

      a(href="//vuejs.org/js/vue.min.js" target="_blank") [ vue ]
      a(href="//unpkg.com/rainbow-nash/dist/rainbow-nash.css" target="_blank") [ rainbow.css ]
      a(href="//unpkg.com/rainbow-nash/dist/rainbow-nash.umd.min.js" target="_blank") [ rainbow.js ]
block script
  script.
    new Vue({
      el: '#app',
      watch: {
        'common.componentValue' () {
          location.href = this.common.componentValue + '.html'
        }
      },
      data () {
        return {
          common: {
            componentValue: '',
            activeMenu: '1'
          }
        }
      }
    })